In [4]:
a = [1,2,3,4,5,1,2]
a.remove(1)
a

[2, 3, 4, 5, 1, 2]

In [5]:
a.pop(1)
a

[2, 4, 5, 1, 2]

In [21]:
b = 'asd123asd'
b.replace('a','f')

'fsd123fsd'

In [8]:
a = '123'
a[:2]

'12'

In [9]:
a = 'asdfghjklasdfghj'
a[1:10:3]

'sgk'

In [13]:
a = '123'
a[:1]

'1'

In [18]:
a = [[1,2,3,4],1,2,3,4,5]
a[:3][:2]
a

[[1, 2, 3, 4], 1, 2, 3, 4, 5]

In [20]:
list = [1,2,3]
list[0] = 2
print(list)

[2, 2, 3]

In [23]:
a,b,c = 1,2,3
a

1

In [28]:
a = [(1,2,3),(3,4,1),(5,6,1)]
for i,n,h in a:
    print(i,n)

1 2
3 4
5 6

In [25]:
for i in a:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [32]:
data = 'asdfgasda'
data = data.split('a')

In [35]:
str = 'aaaaasdaaa'
str.count('a')

8

In [36]:
personal_info = {'name': 'Jack Sparrow',
                 'age': 30,
                 'workplace': 'Black Pearl',
                 'title': 'Captain'}

In [38]:
print('His name is: ' + personal_info['name'])

His name is: Jack Sparrow

In [40]:
a = {'a':'A', 'b':'B', 'c':'C'}
b = ''
for i in a:
    b = b + a[i] + ' '
print( 'Value is: ' + b)

Value is: A B C

In [1]:
import numpy as np
a = np.array([11,12,14,16])

In [2]:
a

array([11, 12, 14, 16])

In [3]:
array_2d = np.array([[18, 26, 17], 
                     [25, 15.5, 12], 
                     [24, 27, 20],
                     [10, 5.5, 17],
                     [27, 26, 15],
                     [22, 21, 21]])